.chrono .display {
  vertical-align: middle;
  display: inline-block;
}
.chrono .actions {
  display: inline-block;
  vertical-align: top;
}

.chrono .time.main {
  font-size: 1.5em;
  display: inline-block;
}

.chrono .time.laps {
  font-size: 1.5em;
  display: inline-block;
}
